/**
 * @file
 * Styles for Making the off-canvas tray look like Claro.
 */

/**
 * This file is a work-around for two core issues with the off-canvas display
 * have yet to be resolves:
 * - #2952390
 *   Ckeditor doesn't work with off-canvas because of an agressive reset. The
 *   idea was that a reset would mean that the off-canvas styles wouldn't be
 *   impacted by anything that theme developers may do. So instead we have
 *   removed the reset file (see module info file), while that issue gets
 *   sorted out. We're probably fine doing this because a) we can test the
 *   off canvas stuff with our theme and b) our general componentised approach
 *   should limit of the risk of interference. We can always revert this
 *   approach if core resolves this, but our own form styles may also work fine
 *   in the off-canvas display. In the meantime we can also add a few styles
 *   which clean up elements of entity forms in the off-canvas display, which
 *   may not be fixed in core on contrib out of the box.
 * - #2951547
 *   This issue is dealing with the fact the off-canvas display is way too
 *   narrow. In the meantime, css works well enough to widen it, and doesn't
 *   require any patches.
 */

.ui-dialog.ui-dialog-off-canvas {
  background-color: #222;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: .875rem;
}

.ui-dialog.ui-dialog-off-canvas > .ui-dialog-content {
  color: #fff;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  background-color: #111;
  position: relative;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  font-family: inherit;
  float: none;
  font-weight: 600;
}

/* Remove filter tips, they seem to clutter the off-canvas display. */
.ui-dialog-off-canvas .filter-wrapper {
  display: none;
}

/**
 * Pull in select elements from off-canvas.base.css, which are essential to
 * the dark appearance.
 */
.ui-dialog-off-canvas a,
.ui-dialog-off-canvas .link {
  text-decoration: none;
  color: #85bef4;
}

.ui-dialog-off-canvas a:hover,
.ui-dialog-off-canvas .link:hover {
  text-decoration: none;
  color: #fff;
}

.ui-dialog-off-canvas a:focus,
.ui-dialog-off-canvas .link:focus {
  color: #85bef4;
}

.ui-dialog-off-canvas ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

#drupal-off-canvas .ui-widget-content a {
  color: #222330;
}

.ui-dialog-off-canvas .layout-builder-add-block,
.ui-dialog-off-canvas .layout-builder-update-block,
.ui-dialog-off-canvas .layout-builder-configure-section {
  padding-top: 1em;
}

.ui-dialog-off-canvas h1,
.ui-dialog-off-canvas h2,
.ui-dialog-off-canvas h3,
.ui-dialog-off-canvas h4,
.ui-dialog-off-canvas legend {
  color: #ddd;
}

#drupal-off-canvas .inline-block-create-button {
  margin-bottom: 1rem;
  font-weight: bold;
}

#drupal-off-canvas .inline-block-list__item {
  background-color: inherit;
}

/**
 * Override some of Stable theme's off-canvas.form.css
 * to get it closer to Claro styling.
 */

#drupal-off-canvas form {
  font-family: inherit;
  font-size: inherit;
}

#drupal-off-canvas label {
  font-size: inherit;
}

#drupal-off-canvas input[type="text"],
#drupal-off-canvas input[type="date"],
#drupal-off-canvas input[type="search"],
#drupal-off-canvas input[type="file"],
#drupal-off-canvas input[type="email"],
#drupal-off-canvas input[type="url"],
#drupal-off-canvas input[type="tel"],
#drupal-off-canvas input[type="number"],
#drupal-off-canvas input[type="time"],
#drupal-off-canvas select,
#drupal-off-canvas textarea {
  background-color: #fff;
  color: #222330;
}

#drupal-off-canvas .button {
  color: #222330;
}

#drupal-off-canvas .button--primary {
  color: #fff;
}

#drupal-off-canvas summary,
#drupal-off-canvas .form__item {
  margin-bottom: 1rem;
}

#drupal-off-canvas .container-inline > div {
  display: inline-block;
}

#drupal-off-canvas fieldset {
  margin: 0 -20px;
  padding: 0 20px;
  border-width: 0;
}

#drupal-off-canvas legend {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: inherit;
  font-family: inherit;
}

#drupal-off-canvas legend span {
  font-size: inherit;
  font-family: inherit;
}

#drupal-off-canvas button,
#drupal-off-canvas .button {
  font-family: inherit;
}

/* Simplify details */
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .details-wrapper {
  margin: 0 -20px;
  padding: 0 20px;
  border-width: 0;
}

#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .ui-dialog-content {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

#drupal-off-canvas summary {
  padding: 10px 20px;
  transition: all 0.5s ease;
  text-shadow: none;
  font-size: 14px;
}

#drupal-off-canvas summary:hover,
#drupal-off-canvas summary:focus {
  background-color: #222;
}

#drupal-off-canvas details[open] {
  padding-bottom: 10px;
}

#drupal-off-canvas details[open] > summary {
  color: #eee;
  background-color: #333;
}

#drupal-off-canvas details[open] > summary:hover {
  color: #fff;
  background-color: #222;
}

/** Make them look like like Claro details */
#drupal-off-canvas details > summary {
  position: relative;
  box-sizing: border-box;
  padding-left: 3rem;
  cursor: pointer;
  transition: background-color 0.12s ease-in-out;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  list-style-type: none;
}

#drupal-off-canvas details > summary::-webkit-details-marker,
#drupal-off-canvas details > summary::marker {
  display: none;
}

#drupal-off-canvas details > summary::before {
  position: absolute;
  top: 50%;
  left: 1.25rem; /* LTR */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  content: "";
  transition: transform 0.12s ease-in 0s;
  transform: rotate(90deg); /* LTR */
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%23ffffff'/%3e%3c/svg%3e");
  background-size: contain;
}

#drupal-off-canvas details > summary:hover::before,
#drupal-off-canvas details > summary:hover:focus::before,
#drupal-off-canvas details[open] > summary:hover:focus::before,
#drupal-off-canvas details[open] > summary:hover::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%230036B1'/%3e%3c/svg%3e");
}

#drupal-off-canvas details[open] > summary::before {
  transform: rotate(-90deg);
}

#drupal-off-canvas details > summary:hover {
  color: #003cc5;
  background-color: #f0f5fd;
}

/**
 * Reset the width of buttons, full width is not appropriate for a wide
 * off canvas display.
 */
.ui-dialog-off-canvas #drupal-off-canvas input[type="submit"].button {
  width: auto;
}

.ui-dialog-off-canvas table.field-multiple-table {
  width: 100%;
}

.ui-dialog-off-canvas table,
.ui-dialog-off-canvas table td,
.ui-dialog-off-canvas table th {
  background: transparent !important;
  border: 0;
}

.ui-dialog-off-canvas table th .label {
  margin: 0;
  text-align: left;
}

.ui-dialog-off-canvas table .paragraphs-dropbutton-wrapper .button {
  min-width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 0.889rem;
  margin: 0;
}

/* Fix dropbuttons */
#drupal-off-canvas span.dropbutton-arrow {
  top: 8px;
  right: 10px;
}

#drupal-off-canvas .dropbutton-widget,
#drupal-off-canvas td .dropbutton-widget {
  background: #003cc5;
}

#drupal-off-canvas td .dropbutton-widget {
  right: 0;
}

#drupal-off-canvas .dropbutton-multiple .dropbutton-widget:hover,
#drupal-off-canvas .dropbutton-widget:hover {
  background-color: #0036b1;
}

#drupal-off-canvas .dropbutton-action > .js-form-submit.form-submit,
#drupal-off-canvas .dropbutton-toggle button {
  background: transparent;
  color: inherit;
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  font-size: 0.889rem;
}

/* Make sure .link isn't effected by themes */
#drupal-off-canvas .link {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: #85bef4;
}
#drupal-off-canvas .link:hover {
  color: #fff;
}

/* Fix ajax throbber */
#drupal-off-canvas div.ajax-progress-throbber {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  color: #fff;
  background: transparent;
  min-height: 2px;
  padding: 0;
}

#drupal-off-canvas div.ajax-progress-throbber .message {
  background: #0036b1;
  padding: 1em;
  display: block;
  color: #fff;
}

#drupal-off-canvas div.ajax-progress-throbber .throbber {
  animation: throbber 8s ease infinite;
  position: absolute;
  height: 2px;
  display: inline;
  background-image: none;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

@keyframes throbber {
  0% {
    width: 0;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 25%;
  }

  40% {
    width: 40%;
  }

  56% {
    width: 50%;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
  }

  75% {
    width: 76%;
  }

  94% {
    width: 86%;
  }

  100% {
    width: 100%;
  }
}

/**
 * Layout builder
 * CSS for improving the default display of layout builder.
 *
 * There is a conflict between blocks placed in block content entities as
 * fields and the CSS used adding padding to the top level blocks placed
 * in regions. To resolve this, reset the padding that LB adds and reapply
 * it only to direct decendents of layout builder regions.
 */
.layout-section .layout-builder--layout__region .block {
  padding: 0 !important;
}

.layout-section .layout-builder--layout__region > .block {
  padding: 1.5em !important;
}
